fastapi
uvicorn[standard]
torch
transformers
datasets
sentence-transformers
faiss-cpu
google-api-python-client     # if you still need web snippets
huggingface_hub[hf_xet]      # for faster download
accelerate>=0.26.0
accelerate>=0.26.0